@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<hr />

<Alert Color="BsColors.danger">
    A simple secondary alert—check it out!
</Alert>

<hr />

<AccordionControl>
    <AccordionItem Text="Page 1">Test 1</AccordionItem>
    <AccordionItem Text="Page 2">Test 2</AccordionItem>
</AccordionControl>

<hr />

<TabControl>
    <TabPage Text="Tab 1">
        <h1>The first tab</h1>
    </TabPage>
    <TabPage Text="Tab 2">
        <h1>The second tab</h1>
    </TabPage>
    <TabPage Text="Tab 3">
        <h1>The third tab</h1>
    </TabPage>
</TabControl>

@code{
    [Inject] public IMetaData MetaData { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await MetaData.Tag("Title", "MyBlazor Title");
        await MetaData.Tag("Description", "MyBlazor Description");
        await MetaData.Favicon("/favicon.png");
    }
}