.splash { 
    height: 100vh;
    width: 100vw;
    min-height: 250px;
    /*background-image: url('https://source.unsplash.com/7JX0-bfiuxQ/1920x1080');*/
    background-image: url('/img/splash.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    grid-row: span 3;
    margin: 1rem;
}
